.banner-area{
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("../../../images/Banner.png");
    /* background-attachment:fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:446px;
    width: auto !important;
    
}
.banner-text{
    font-size:48px;
    font-weight: bold;
    line-height:59px;
    padding-top: 105px;
}
.banner-search-area{
   padding-top: 51px;
   flex-wrap: wrap;
   width: 60%;
    margin: 0 auto;
}
.banner-search-input input {
    height: 50px;
    width:536px;
    border-radius: 5px;
    background-color: #F1F6F4;
}
@media screen and (max-width: 600px){
    .banner-search-input input{
        width: 400px;
        margin-bottom: 5px;
    }
}